@font-face {
    font-family: 'Roboto-italic';
    src: url('../fonts/Roboto-Italic.ttf');
}
@font-face {
    font-family: "roboto-key";
    src: url('../fonts/Roboto-Black.ttf');
}

.roboto-key {
    font-family: 'roboto-key';
    letter-spacing: 2px;
}

/* -------------------------------------------- */






/* section */

main .profile-section {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
}

.profile-image-figure figcaption ul {
    padding: 10px;
    list-style-type: none;
    font-family: 'Roboto-italic';
}

.profile-image-figure figcaption ul li {
    margin-bottom: 20px;
    margin-left: 15px;
}

.profile-image-figure {
    padding-top: 1rem;
    width: 28%;
    height: 40%;
    background: rgb(25, 25, 26);
    border-radius: 3%;
}

main .profile-section .profile-image-figure img {
    border-radius: 100%;
    width: 50%;
    margin-left: 1rem;
    margin-right: 1rem;
}

main .profile-section .profile-image-figure div {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }




/* About */

.profile-section-about {
    background: rgb(25, 25, 26);
    border-radius: 2%;
    padding: 1rem;
    width: 30%;
}
.title-about {
    margin: 5%;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    margin-bottom: 30px;
}

.profile-section-about h2 {
    padding: 15px;
}




/* medias */


@media (max-width: 999px) {
    main {
        height: auto;
    }
    .profile-section {
        flex-direction: column-reverse;
        align-items: center;
    }
    .profile-image-figure {
        width: 60%;
    }
    
    .profile-section .profile-section-about {
        width: 80%;
        padding-bottom: 3rem;
        margin-top: 20px;
    }
}


