* {
    margin: 0;
    padding: 0;
}

body {
    height: 70vh;
    background: rgb(54, 54, 54);
    overflow-x: hidden;
}

a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

main {
    height: 92vh;
}