.footer-index {
    position: relative;
    background: #2c2c2c;
    top: 100%;
    width: 100%;
    height: 30vh;
    transition: 0.4s;
}

.footer-itens-contain {
    width: 50%;
    height: 6rem;
    padding: 6px;
    margin: auto;
}

.footer-itens-contain h1 {
    color: white;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 10px;
    padding-bottom: 6px;
    justify-content: center;
    font-size: 23px;
}

.footer-itens-contain ul {
    list-style-type: none;
    color: white;
    display: flex;
    justify-content: center;
    margin: auto;
    height: 50px;
}

.footer-itens-contain ul li {
    margin: 5px 15px 5px 5px;
    font-size: 2.2rem;
}

.footer-itens-contain ul li:hover {
    transition: 0.1s;
    font-size: 2.3rem;
}

.footer-itens-contain ul li a {
    color: white;
}



/* subitens contain */

.footer-subitens-contain {
    display: flex;
    justify-content: center;
    color: white;
    height: 60%;
    width: 100%;
    margin: auto;
}

.footer-subitens-contain h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0.4rem;
}

.footer-subitens-contain ul {
    list-style-type: none;
}

.footer-subitens-contain li {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}





