
* {
    margin: 0;
    padding: 0;
}


/* body index */

body {
    overflow-x: hidden;
}



/* links config */
a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

/* main index config*/

main {
    height: 75rem;
    justify-content: center;
    align-items: center;
    background: rgb(32, 32, 32);
    color: white;
    padding-bottom: 30px;
}