@font-face {
    font-family: 'Roboto-bold';
    src: url('../fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.ttf');
}

.logo {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'Roboto-Bold',sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(25, 25, 26);
  height: 7vh;
}

.nav-user-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.user-icon-list {
  display: none;
  list-style-type: none;
  align-items: center;
  background-color: rgb(25, 25, 26);
  width: max-content;
  padding: 1%;
  color: white;
  position: absolute;
}

.user-icon-list li {
  margin: 0px auto 0px auto
}


.nav-list {
  width: 40%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}

.nav-list .nav-list-iten {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  .user-icon-list li {
    display: none;
  }
  .nav-list {
    display: none;
    position: absolute;
    top: 7vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #1e1e1f;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }

}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}