.footer-index {
    position: relative;
    background: #2c2c2c;
    top: 100%;
    width: 100%;
    padding-bottom: 20px;
    transition: 0.4s;
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.4);
}

.footer-itens-contain {
    width: 50%;
    height: 6rem;
    padding: 6px;
    margin: auto;
}

.footer-itens-contain h1 {
    color: white;
    cursor: default;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 10px;
    padding-bottom: 6px;
    justify-content: center;
    font-size: 23px;
}

.footer-itens-contain ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: auto;
    height: 50px;
}

.footer-itens-contain ul li {
    margin: 5px 15px 5px 5px;
    font-size: 2.2rem;
}

.footer-itens-contain ul li a:hover {
    color: aqua;
    transition: 0.1s;
    font-size: 2.3rem;
}

.footer-itens-contain ul li a {
    color: white;
}



/* subitens contain */

.footer-subitens-contain {
    color: white;
    height: 60%;
    width: 100%;
}
.footer-subitens-contain {
    color: white;
    height: 60%;
    width: 100%;
}

.footer-subitens-contain h2 {
    margin-top: 15px;
    font-family: 'Cambria';
    padding: 0.8rem 0.4rem 0.4rem 0.4rem;
    font-size: 20px;
}

.footer-subitens-contain li {
    width: max-content;
    font-size: 16px;
    padding-left: 5px;
}

.footer-subitens-contain p {
    padding-left: 5px;
    width: 70%;
    font-family: Baskerville, Baskerville Old Face, Garamond, Times New Roman, serif
}

.footer-subitens-contain ul {
    padding-bottom: 30px;
}

.copy {
    color: white;
    width: 100%;
    margin-top: 10px;
    text-align: center;
}



