@font-face {
    font-family: 'Roboto-italic';
    src: url('../fonts/Roboto-Italic.ttf');
}
@font-face {
    font-family: "roboto-key";
    src: url('../fonts/Roboto-Black.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.ttf');
}

.roboto-key {
    font-family: 'roboto-key';
    letter-spacing: 2px;
}

/* -------------------------------------------- */






/* section profile-section */

main .profile-section {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
}

.profile-image-figure figcaption ul {
    padding: 10px;
    list-style-type: none;
    font-family: 'Roboto-italic';
}

.profile-image-figure figcaption ul li {
    margin-bottom: 20px;
    margin-left: 15px;
}

.profile-image-figure {
    padding-top: 1rem;
    width: 28%;
    height: 40%;
    background: rgb(25, 25, 26);
    border-radius: 3%;
}

main .profile-section .profile-image-figure img {
    border-radius: 100%;
    width: 50%;
    margin-left: 1rem;
    margin-right: 1rem;
}

main .profile-section .profile-image-figure div {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }




/* About */

.profile-section-about {
    background: rgb(25, 25, 26);
    border-radius: 2%;
    padding: 1rem;
    width: 30%;
}
.title-about {
    margin: 5%;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    margin-bottom: 30px;
}

.profile-section-about h2 {
    padding: 15px;
}


/* section metadata */
.metadata-conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.metadata {
    background: rgb(25, 25, 26);
    width: 100%;
    margin-top: 100px ;
    padding: 3%;
}
.metadata a {
    text-decoration: underline;
}
.metadata h1, h2 {
    padding: 20px;
}
.metadata h1 {
    font-size: 50px;
}
.metadata h2 {
    font-size: 40px;
}
.metadata-list  {
    margin-left: 30px;
    font-size: 20px;
    width: max-content;
}

.language-selector {
    height: 2rem;
    outline: 0;
}
.metadata-submit-button {
    cursor: pointer;
    font-family: 'Roboto';
    width: 5rem;
    height: 2rem;
    border-radius: 5px;
}

.metadata-submit-button:hover {
    opacity: 0.8;
}

.language-selector-conteiner {
    display: flex;
    align-items: center;
    width: max-content;
    margin-left: 30px;
}

/* medias */


@media (max-width: 999px) {
    main {
        height: auto;
    }

    .metadata h1 {
        font-size: 30px;
    }
    .metadata h2 {
        font-size: 25px;
    }
    .language-selector {
        height: 1.5rem;
        outline: 0;
    }
    .metadata-submit-button {
        cursor: pointer;
        font-family: 'Roboto';
        width: 5rem;
        height: 1.5rem;
        border-radius: 5px;
    }


    .profile-section {
        flex-direction: column-reverse;
        align-items: center;
    }
    .profile-image-figure {
        width: 60%;
    }
    
    .profile-section .profile-section-about {
        width: 80%;
        padding-bottom: 3rem;
        margin-top: 20px;
}


